<launch>
  <arg name="can_device" default="can0"/>
  <arg name="received_messages_queue_size" default="2"/>
    <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="socketcan_bridge" output="screen">
      <param name="can_device" value="$(arg can_device)" />
      <param name="received_messages_queue_size" value="$(arg received_messages_queue_size)" />
    </node>
</launch>
