<?xml version="1.0"?>
<launch>

<group ns="Vehicle/kona/interface">
    <include file="$(find socketcan_bridge)/launch/socketcan_bridge.launch"/>
    <node name="command_control" pkg="tod_kona_bridge" type="kona_driver_command_node" output="screen"/>
    <node name="vehicle_data" pkg="tod_kona_bridge" type="kona_driver_report_node" output="screen"/>
</group>

</launch>