<?xml version="1.0"?>
<launch>
    <arg name="vehicleName" default="kona"/> 
    <arg name="vehicleID" default="123a4567"/>
    <arg name="isOperator" default="false"/>
    <arg name="isVehicle" default="true"/>
    <arg name="Resolution" default="SD"/>
    <arg name="show_image" default="true"/>
    <arg name="DisplayWidth" default="1920"/>
    <arg name="DisplayHeight" default="1080"/>

    <!-- Common -->
    <!-- <include file="$(find cgi_driver)/launch/cgi_driver.launch"/> -->
    <include file="$(find tod_kona_bridge)/launch/tod_kona_bridge.launch"/>
    <include file="$(find tod_kona_bridge)/launch/nmea_navsat_driver.launch"/>

    <include file="$(find tod_vehicle_bridge)/launch/tod_vehicle_bridge.launch">
        <arg name="isVehicle" value="$(arg isVehicle)"/>
        <arg name="isOperator" value="$(arg isOperator)"/>
        <arg name="vehicleName" value="$(arg vehicleName)"/>
        <arg name="vehicleID" value="$(arg vehicleID)"/>
    </include>


    <include file="$(find tod_manager)/launch/tod_manager.launch">
        <arg name="isVehicle" value="$(arg isVehicle)"/>
        <arg name="isOperator" value="$(arg isOperator)"/>
    </include>

    <!-- <include file="$(find tod_input_devices)/launch/tod_input_devices.launch" if="$(eval launchInputDevices)">
        <arg name = "ConfigFile" value="$(find tod_input_devices)/config/g29_ff.yaml"/>
    </include> -->
    
    <include file="$(find tod_control)/launch/tod_control.launch">
        <arg name="isVehicle" value="$(arg isVehicle)"/>
        <arg name="isOperator" value="$(arg isOperator)"/>
    </include>

    <include file="$(find driver_tcpip)/launch/driver_tcpip.launch">
        <arg name="isVehicle" value="$(arg isVehicle)"/>
    </include>

    <!-- <include file="$(find tod_stream)/launch/tod_stream_viewer.launch">
        <arg name="isVehicle" value="$(arg isVehicle)"/>
        <arg name="isOperator" value="$(arg isOperator)"/>
        <arg name="Resolution" value="$(arg Resolution)"/>
        <arg name="show_image" value="$(arg show_image)"/>
    </include> -->

</launch>
