<launch>
    <arg name="image_topic" default="/left/camera/image_raw"/>
    <arg name="camera_info_yaml" default="/home/nvidia/camera_calib/left.yaml"/>
    <arg name="cols" default="8"/>
    <arg name="rows" default="6"/>
    <arg name="square_size_m" default="0.025"/>
    <arg name="show_preview" default="true"/>

    <node pkg="ros_image_calibrator"
            type="verify_calibration_from_topic.py"
            name="verify_calib"
            output="screen">
        <param name="image_topic" value="$(arg image_topic)"/>
        <param name="camera_info_yaml" value="$(arg camera_info_yaml)"/>
        <param name="cols" value="$(arg cols)"/>
        <param name="rows" value="$(arg rows)"/>
        <param name="square_size_m" value="$(arg square_size_m)"/>
        <param name="show_preview" value="$(arg show_preview)"/>
    </node>
</launch>
